<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="E:\Devtools\nuget-packages" />
  </config>
  <packageSources>
    <clear />
    <!-- 加速镜像优先（华为云，实测最快），官方兜底 -->
    <add key="huawei" value="https://mirrors.huaweicloud.com/repository/nuget/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
